<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.angrycoding.splinter">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <uses-feature android:name="android.hardware.usb.host"/>

    <application
        android:allowBackup="true"
        android:label="@string/application_name"
        android:icon="@mipmap/ic_launcher">

        <activity
            android:name=".HomeActivity"
            android:label="@string/launcher_label"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.NoDisplay"
            android:taskAffinity="com.angrycoding.splinter.HomeActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />

        </activity>

    </application>

</manifest>